.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid black;
    border-radius: 2px;
    width: 350px;
    padding: 16px;
    margin-bottom: 25px;
}

.input {
    padding: 7px;
    width: 320px;
    margin-bottom: 10px;
}

.button {
    padding: 8px 16px;
    margin: 0 auto;
}

.error {
    color: red;
    font-size: small;
}
